@import "./variable";

.side-bar {
    color: white;
    box-sizing: border-box;
    width: 300px;
    float: left;
    .header {
        background: $sideHeader-blue;
        padding: 0 20px;
        height: 100px;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        &__name {
            font: $sideBar-user_name bold;
            display: flex;
            line-height: 100px;
        }
        &__lists {
            display: flex;
            line-height: 100px;
            .list {
                .fa-pencil-square-o {
                    margin: 0.3rem;
                    color: white;
                }
                .fa-cog {
                    margin: 0.3rem;
                    color: white;
                }
            }
        }
    }
    .groups {
        background: $sideBar-blue;
        box-sizing: border-box;
        height: calc(100vh - 100px);
        padding: 20px 20px 0px 20px;
        align-content: flex-start;
        .group {
            padding-bottom: 40px;
            a {
                text-decoration: none;
            }
            &__name {
                font-size: $sideBar-group_name;
                color: white;
                text-decoration: none;
            }
            &__message {
                padding-top: 5px;
                font-size: $sideBar-latest-message;
                color: white;
                text-decoration: none;
            }
        }
    }
}

