@import "./variable";

.flash-box {
    top: 0px;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    width: 100vw;
    .notice {
        background: $blue;
        color: white;
    }
}

.side-bar {
    color: white;
    box-sizing: border-box;
    width: 300px;
    float: left;
    .side-header {
        background: $sideHeader-blue;
        padding: 0 20px;
        height: 100px;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        &__user-name {
            font: $sideBar-user_name bold;
            display: flex;
            line-height: 100px;
        }
        &__menus {
            display: flex;
            line-height: 100px;
            .menu {
                .edit {
                    .fa-edit {
                        margin: 0.3rem;
                        color: white;
                    }
                }
                .cog {
                    .fa-cog {
                        margin: 0.3rem;
                        color: white;
                    }
                }

            }
        }
    }
    .groups {
        background: $sideBar-blue;
        box-sizing: border-box;
        height: calc(100vh - 100px);
        padding: 20px 20px 0px 20px;
        align-content: flex-start;
        .group {
            padding-bottom: 40px;
            &__group-name {
                font-size: $sideBar-group_name;
            }
            &__latest-message {
                padding-top: 5px;
                font-size: $sideBar-latest-message;
            }
        }
    }
}
