// 複数回使用する色は、変数を定義する


// background(color)アセット
$blue: #38AEF0;
$sideHeader-blue: #253141;
$sideBar-blue: #2f3e51;
$message-white: #fafafa;

//font-sizeアセット
$sideBar-user_name: 16px;
$sideBar-group_name: 15px;
$sideBar-latest-message: 11px;

$chat-group_name: 20px;
$chat-data: 12px;
$chat-user_name: 16px;
$chat-text: 14px;
